*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/schemas/com.SEP7.ToolBeer.localDatabase.DistributorsDatabase/2.json
/app/schemas/com.SEP7.ToolBeer.localDatabase.FavoritsDatabase/2.json
/app/schemas/com.SEP7.ToolBeer.localDatabase.ProductsDatabase/2.json
/app/schemas/com.SEP7.ToolBeer.localDatabase.UsersDatabase/2.json
/app/schemas/com.SEP7.ToolBeer.localDatabase.FavoritsDatabase/3.json
